---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I'm an electrical engineer specialized in electronics and telecommunications, and a passionate
			about technology. My interests span across self-driving cars, space technology, embedded
			systems, signal processing, deep learning, data science, and quantitative finance.
		</p>
		<p>
			In my free time, I dive into software and hardware projects, tackle intriguing mathematical
			problems, and stay active with sports like tennis, swimming, running, and biking. I also enjoy
			card games, specifically Skat (German card game), Bridge, and board games like Chess.
		</p>
		<p>
			Right now, I'm looking for job opportunities in the Frankfurt Rhine-Main Area for Data
			Scientist, Quantative Analyst or Software Engineer. Besides that, I currently building an
			Skat-player engine inspired by Stockfish for chess, working on this website and learning more
			about Deep Learning.
		</p>
	</div>

	<h1 class="title mb-6 mt-6">Here are my life changing decisions</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p><div class="font-bold italic">Grinding to become an excellent tennis player.</div></p>

		<p><div class="font-bold italic">Leaving my hometown to move to São Paulo.</div></p>

		<p>
			<div class="font-bold italic">Joining communities</div> of things I like or wante to learn, here
			are two examples
		</p>

		<ul class="list-inside list-disc" role="list">
			<li>
				<b>Joining Turing USP</b>, this was an awesome chance to make friends in the university of
				São Paulo and learn a lot about artificial intelligence, machine learning and data science,
				back in the days that no one was looking at this topic.
			</li>
			<li>
				Joining Skat Brazil, this was by one of my luckiest decisions, who would believe a flier
				saying "Want to learn a new card game?" would make such a change in my life
			</li>
		</ul>

		<p>Pursuing my master's degree in Germany.</p>
	</div>

	<!-- <p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>  -->
</PageLayout>
