---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I'm an electrical engineer specialized in electronics and telecommunications, and a passionate
			about technology. My interests span across self-driving cars, space technology, embedded
			systems, digital and graph signal processing, deep learning, data science, and quantitative
			finance.
		</p>
		<p>
			In my free time, I dive into software and hardware projects, tackle intriguing mathematical
			problems, and stay active with sports like swimming, running, and biking. I also enjoy
			strategy games, from chess to the traditional German card game, Skat.
		</p>
		<p>
			Right now, I'm developing a Skat-playing engine inspired by Stockfish for chess, learning Rust
			for future embedded systems projects, and teaching Skat to 20 students at the University of
			São Paulo to keep the game alive in Brazil.
		</p>
		<!-- <p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc" role="list">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p> -->
	</div>
</PageLayout>
