---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I come from a city in Brazil called Franca, almost France but no. Most people there earn a
			living by working in a shoe factory or planting coffee. I am grateful it was big enough to
			connect me with educated people who showed me the first steps.
		</p>
		<p>
			However, the stars of the show were my parents, two people brave enough to face the unknown
			searching for what is best out there. My father left his hometown in the north of Brazil at 13
			years old, coming from one of the poorest states (Tocantins). He arrived after some years in
			Franca and launched his company on marketing, bringing all his family together for better
			conditions. My mother, really early in life lost her parents and had to fight for everything
			also from a young age. They inspired me to go out there, and make my luck!
		</p>
		<p>
			That's what I did, moving from Franca to S達o Paulo, the biggest city in Brazil full of
			opportunities. Pursued my electrical engineering degree at the University of S達o Paulo, the
			best in Brazil, and not satisfied moved to Germany for a Master's degree in telecommunications
			engineering. I specialized in electronics and signal processing, covering topics such as
			computer programs and networks, embedded systems, machine learning, optimization, and
			information theory.
		</p>
		<p>
			My interests span biomedical signal processing, deep learning, self-driving cars, space
			technology, and quantitative finance. In my free time, I dive into software and hardware
			projects, tackle intriguing mathematical problems, and stay active in sports like tennis,
			running, and biking. I also enjoy board games like Chess and card games, specifically Skat a
			German game that I competed in many times in Brazil, Germany, and recently Paraguay.
		</p>
		<h2 class="mb-6 mt-6">What I am doing now</h2>
		<p>
			Right now, I'm looking for job opportunities in the Frankfurt Rhine-Main Area as a Data
			Scientist, Quantitative Researcher/Developer, or Software Engineer. Besides that, I am
			currently building a Skat engine inspired by Stockfish for chess, working on this website, and
			learning more about Deep Learning.
		</p>
		<h2 class="mb-6 mt-6">Life changing decisions</h2>
		<p class="font-bold italic">Grinding to become an excellent tennis player</p>
		<ul class="list-inside list-disc" role="list">
			<li>It taught me how hard it is to become great at something.</li>
		</ul>
		<p class="font-bold italic">Leaving my hometown to move to S達o Paulo and later to Germany</p>
		<ul class="list-inside list-disc" role="list">
			<li>It expanded my field of view about people and the world.</li>
		</ul>
		<p class="font-bold italic">Joining communities of things I wanted to learn</p>

		<ul class="list-inside list-disc" role="list">
			<li>
				Joining <b>Turing USP</b>, was an awesome chance to make friends at the University of S達o
				Paulo by learning and working on projects about artificial intelligence, machine learning,
				and data science, back in the days when no one was looking at this topic.
			</li>
			<li>
				Joining <b>Skat Brazil</b>, was one of my luckiest decisions. Who would believe a flier
				saying, want to learn a new card game? Would make such a change in my life. Connecting me
				with great people and raising my ambition once more.
			</li>
		</ul>
	</div>

	<!-- <p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>  -->
</PageLayout>
